.carddepoimento{
    border: 2px solid #3d8ca1;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    background-color: white;
    color: #20232A;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 250px;
}